.ui.button.guild_creator {
  margin: -1px 6px 6px 0px;
}

.ui.button.guild_creator.guild_create {
  margin: 0px;
}

.ui.input.guild_creator {
   margin: 0px 6px 6px 0px;
}

.ui.cards.guild_creator > .card {
  width: 200px;
  height: 64px;
}

.ui.cards.guild_creator > .card .header {
  transform: translateY(10px);

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ui.cards.guild_creator {
  justify-content: center;
}

.ui.label.guild_creator {
  text-align: center;
}

@media (max-width: 675px) {
  .ui.cards.guild_creator > .card, .ui.card {
    width: 64px;
  }

  .ui.cards.guild_creator > .card > .content > .header{
    display: none;
  }
}

.guild_creator.template {
  display: flex;
}

.guild_creator.template > .input {
  flex-grow: 1;
  margin-bottom: 0px;
}

.guild_creator.template > .label {
  margin-left: auto;
}