
.permissions_table_header span {
  writing-mode: vertical-rl;
  transform: rotate(220deg);
  white-space: nowrap;
  text-transform: capitalize;
  float: right;
  transform-origin: 0 50%;
}


thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}