.results_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.post_overlay {
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(100, 100, 128, 0.4);
}

.post_overlay_center {
    display: table;
    margin: 10vh auto;
}

.results_search_bar {
    z-index: 1;
    top: 15px;
    left: 15px;
    position: fixed;
}
