.message_container {
  width: calc(80% + 1rem) !important;
}

.message_container.with_channel {
  max-width: calc(93% - 15rem);
}

@media (max-width: 550px) {
  .message_container.with_channel {
    display: none !important;
  }
}