#container {
    background: greenyellow;

    display: flex;
    flex-flow: row;
    height: calc(100vh - 1rem - 28px);
}

.guild_icons {
    background-color: #202225;
    width: 64px;
    overflow-y: auto;
}

.guild_icon {
    margin-left: 8px;
    width: 48px;
    height: 48px;
}

.sidebar {
    overflow-y: auto;
    width: 240px;
}

.sidebar, .sidebar > div > button {
    background-color: #2f3136;
    color: #8e9297;
}

.sidebar > div > button.active {
    background-color: #40444b;
    border-color: #495053;
    outline-color: #495053;
}

.content textarea {
    width: 100%;
    background-color: rgba(114, 118, 125, 0.3);
    color: hsla(0,0%,100%,.7);
}

.emote {
    width: 2rem;
    height: 2rem;
}

.content {
    background-color: #36393f;
    color: #dcddde;

    overflow-y: auto;
    flex: 1;
}