.channel_list .ui.vertical.menu {
  width: initial;
}

.channel_list {
  width: 13% !important;
  min-width: 8rem;
}

.channel_list .item {
  overflow: hidden;
  text-overflow: ellipsis;
}

.channel_list .item:not(.header):hover {
  background: #00000020 !important;
}