.page_result_large {
    min-width: 40vw;
    background: #2b4d82;
    display: inline-block;
}

.page_result_large > a > img {
    max-height: 70vh;
    max-width: 80vw;
    width: auto;
    height: auto;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.page_result_large > embed {
    max-height: 70vh;
    max-width: 80vw;
    width: 1200px;
    height: 1104px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.page_result_large a {
    color: #b4d8ff;
}

.page_result_large > p {
    color: #e6e6e6;
}