/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site        : 'slate';
@reset       : 'slate';

/* Elements */
@button      : 'slate';
@container   : 'slate';
@divider     : 'slate';
@flag        : 'slate';
@header      : 'slate';
@icon        : 'default';
@emoji       : 'default';
@image       : 'slate';
@input       : 'slate';
@label       : 'slate';
@list        : 'slate';
@loader      : 'slate';
@placeholder : 'slate';
@rail        : 'slate';
@reveal      : 'slate';
@segment     : 'slate';
@step        : 'slate';
@text       : 'default';

/* Collections */
@breadcrumb  : 'slate';
@calendar    : 'default';
@form        : 'slate';
@grid        : 'slate';
@menu        : 'slate';
@message     : 'slate';
@table       : 'slate';

/* Modules */
@accordion   : 'slate';
@checkbox    : 'slate';
@dimmer      : 'slate';
@dropdown    : 'slate';
@embed       : 'slate';
@modal       : 'slate';
@nag         : 'slate';
@popup       : 'slate';
@progress    : 'slate';
@rating      : 'slate';
@search      : 'slate';
@shape       : 'slate';
@sidebar     : 'slate';
@slider      : 'default';
@sticky      : 'slate';
@tab         : 'slate';
@toast       : 'default';
@transition  : 'slate';

/* Views */
@ad          : 'slate';
@card        : 'slate';
@comment     : 'slate';
@feed        : 'slate';
@item        : 'slate';
@statistic   : 'slate';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : '/src/semantic/src/themes';
@siteFolder  : '/src/semantic/src/site';

@import (multiple) "/src/semantic/src/theme.less";
@fontPath : '/fonts';


/* End Config */
