<head>
    <meta content="Not Quite Nitro" property="og:title">
    <meta content="Not Quite Nitro is a bot for Discord which allows anyone to use any emote for free. Simply invite the bot to get started!" property="og:description">
    <meta content="https://discord.com/api/oauth2/authorize?client_id=559426966151757824&permissions=536895488&scope=bot%20applications.commands" property="og:url">
    <meta content="#000000" name="theme-color">
    <meta content="Not Quite Nitro" name="description">
    <title>Not Quite Nitro</title>
</head>