<head>
    <meta content="Not Quite Nitro" property="og:title">
    <meta content="Animated Emotes without Discord Nitro. NQN is a Discord emojis bot which allows anyone to use emojis for free" property="og:description">
    <meta content="https://discord.com/api/oauth2/authorize?client_id=559426966151757824&permissions=536895488&scope=bot%20applications.commands" property="og:url">
    <meta content="#000000" name="theme-color">
    <meta content="Animated Emotes without Discord Nitro. NQN is a Discord emojis bot which allows anyone to use emojis for free" name="description">
    <title>Not Quite Nitro</title>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "FAQPage",
          "mainEntity": [{
            "@type": "Question",
            "name": "Does NQN allow you to use animated emojis without Discord Nitro?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Yes, whilst NQN does not give you free nitro, it allows you to use animated emojis in all your shared servers with it"
            }
          }]
        }
    </script>
</head>
