<head>
    <meta content="Not Quite Nitro" property="og:title">
    <meta content="A free Discord Nitro alternative. NQN is a Discord emojis bot which allows anyone to use emojis for free" property="og:description">
    <meta content="https://discord.com/api/oauth2/authorize?client_id=559426966151757824&permissions=536895488&scope=bot%20applications.commands" property="og:url">
    <meta content="#000000" name="theme-color">
    <meta content="A free Discord Nitro alternative. NQN is a Discord emojis bot which allows anyone to use emojis for free" name="description">
    <title>Not Quite Nitro</title>
</head>
