body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
    font-size: 16px;
}

body {
    background-color: #e4e4ff;
}

ul.navbar-nav {
    flex-direction: initial;
}

nav.navbar {
    border-radius: 0;
}

nav.navbar>div.container-fluid {
    align-items: flex-end;
    justify-content: initial;
}

ul.nav {
    flex-grow: 1;
    margin-top: 0;
}


ul.navbar-right {
    flex-direction: row-reverse;
    color: #9d9d9d;
    line-height: 28px;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
